$midnight: #232536; // juda to'q ko'k (deyarli qora)
$sky-light: #ecf8f9; // juda ochiq moviy
$peach: #ffe6d2; // shaftoli rang
$orange-bright: #ffa155; // yorqin to'q sariq
$soft-indigo: #666dff; // yumshoq ko'k-binafsha
